<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394288885349-ki4s635rj80npt6nds3idkng3bt4hh6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394288885349-ki4s635rj80npt6nds3idkng3bt4hh6i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>394288885349-td9a7tofehl23fag5urs93bhd0k4oplm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADOY_uj-uJwveKJ_koZB4llD2BwyzvV_I</string>
	<key>GCM_SENDER_ID</key>
	<string>394288885349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.stayfluenceapp</string>
	<key>PROJECT_ID</key>
	<string>stayfluence-745c3</string>
	<key>STORAGE_BUCKET</key>
	<string>stayfluence-745c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394288885349:ios:88617a1dbd929ec892608c</string>
</dict>
</plist>